* {
  box-sizing: border-box;
}

body {
  padding-bottom: 300px;
}

.std_toc__list {
  list-style-type: none;
  list-style-image: none;
  padding-inline-start: 0px;
}

.std_toc__item .std_toc__list {
  margin-left: 2em;
}

.std_toc__number {
  padding-right: 0.5em;
}

.std_blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
  margin: 0;
}
